[color]
    diff = auto
    status = auto
    branch = auto

[user]
    name = Thibault Suzanne
    email = thi.suzanne@gmail.com

[alias]
    st = status
    df = diff
    co = checkout
    ci = commit
    br = branch
    graph = log --all --decorate --oneline --graph
    smash = commit --amend --no-edit
    wip = commit -am WIP

[core]
    excludesfile = ~/.gitignore.global

[push]
    default = simple

[pull]
    rebase = true

[diff]
    tool = ediff
    guitool = ediff
    submodule = log

[difftool "ediff"]
    cmd = ~/bin/ediff.sh $LOCAL $REMOTE $MERGED

[merge]
    tool = ediff

[mergetool "ediff"]
    cmd = ~/bin/ediff.sh $LOCAL $REMOTE $MERGED $BASE
    trustExitCode = true

[rebase]
    autostash = true

[init]
    defaultBranch = master
